# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Node
node_modules/
.svelte-kit/
build/
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
/dist/
/build/
*.egg-info/ 

# Project specific
.notes/
.cursor*